<app-header></app-header>
<div class="content-main">
  <div class="row text-right">
    <div class="col">
      <button routerLink="/productos" class="btn btn-danger">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>
  <hr>
  <form (ngSubmit)="save(form)" #form="ngForm">
    <h1 class="text-center">Creación de Productos</h1>
    <h4 class="text-center"><small>Información del producto</small></h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre" name="nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" [(ngModel)]="producto.estado" name="estado">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="composicion">Composición química:</label>
        <input type="text" class="form-control" id="composicion" [(ngModel)]="producto.composicionQuimica"
          name="composicionQuimica">
      </div>
      <div class="form-group col-md-6">
        <label for="desProduct">Descripción:</label>
        <textarea class="form-control" id="desProduct" rows="3" [(ngModel)]="producto.descripcion"
          name="descripcion"></textarea>
      </div>
    </div>

    <h4 class="text-center"><small>Características fisicoquímicas</small></h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" placeholder="Azul" [(ngModel)]="producto.color" name="color">
      </div>
      <div class="form-group col-md-6">
        <label for="olor">Olor</label>
        <input type="text" class="form-control" id="olor" placeholder="" [(ngModel)]="producto.olor" name="olor">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ph">PH</label>
        <input type="text" class="form-control" id="ph" [(ngModel)]="producto.ph" name="ph">
      </div>
      <div class="form-group col-md-6">
        <label for="ph">Punto de inflamación</label>
        <input type="text" class="form-control" id="ph"
          placeholder="Información en grados o texto descriptivo para cuando no aplica"
          [(ngModel)]="producto.puntoInflamacion" name="puntoInflamacion">
      </div>
    </div>

    <h4 class="text-center"><small>Inventario</small></h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cantidadDisponible">Cantidad Disponible</label>
        <input type="text" class="form-control" id="cantidadDisponible" [(ngModel)]="producto.cantidad" name="cantidad">
      </div>
    </div>

    <h4 class="text-center"><small>Información del Fabricante</small></h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreFabricante">Nombre</label>
        <input type="text" class="form-control" id="nombreFabricante" [(ngModel)]="producto.fabricante"
          name="fabricante">
      </div>
      <div class="form-group col-md-6">
        <label for="telefono">telefono</label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="producto.numeroFabricante"
          name="numeroFabricante">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="paginaWeb">Página Web:</label>
        <input type="text" class="form-control" id="paginaWeb" [(ngModel)]="producto.paginaFabricante"
          name="paginaFabricante">
      </div>
    </div>


    <h4 class="text-center"><small>Gestión del riego químico</small></h4>
    <h6><small>Clasificación de peligrosidad NTC 1692 (Naciones Unidas)</small></h6>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="peligo1">Peligro 1</label>
        <select class="custom-select custom-select-lg mb-3" id="peligo1" [(ngModel)]="riesgoQuimicoPeligro1.fkPeligro" name="fkPeligro">
          <option selected>Seleciona el peligro Nº 1</option>
          <option *ngFor="let peligrosidad of peligrosidadNTC; let i = index" value="{{peligrosidad.id}}">{{peligrosidad.codigo}}-{{peligrosidad.descripcion}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="peligo2">Peligro 2</label>
        <select class="custom-select custom-select-lg mb-3" id="peligo2" [(ngModel)]="riesgoQuimicoPeligro2.fkPeligro" name="fkPeligro">
          <option selected>Seleciona el peligro Nº 2</option>
          <option *ngFor="let peligrosidad of peligrosidadNTC; let i = index" value="{{peligrosidad.id}}">{{peligrosidad.codigo}}-{{peligrosidad.descripcion}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="peligo3">Peligro 3</label>
        <select class="custom-select custom-select-lg mb-3" id="peligo3" [(ngModel)]="riesgoQuimicoPeligro3.fkPeligro" name="fkPeligro">
          <option selected>Seleciona el peligro Nº 3</option>
          <option *ngFor="let peligrosidad of peligrosidadNTC; let i = index" value="{{peligrosidad.id}}">{{peligrosidad.codigo}}-{{peligrosidad.descripcion}}</option>
        </select>
      </div>
    </div>

    <h6><small>Número de identificación internacional</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="gre">GRE</label>
        <input type="text" class="form-control" id="gre" [(ngModel)]="riesgoQuimico.gre" name="gre">
      </div>
      <div class="form-group col-md-6">
        <label for="numeroUn">Numero UN</label>
        <input type="text" class="form-control" id="numeroUn" [(ngModel)]="riesgoQuimico.numeroUn" name="numeroUn">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cas">CAS</label>
        <input type="text" class="form-control" id="cas" [(ngModel)]="riesgoQuimico.cas" name="cas">
      </div>
    </div>

    <h6><small>Carcinógeno</small></h6>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="carcinogeno">Carcinógeno?</label>
        <select class="custom-select custom-select-lg mb-3" id="carcinogeno" [(ngModel)]="riesgoQuimico.cancerigeno"
          name="cancerigeno">
          <option value="Si" selected>Si</option>
          <option value="NO">No</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="categoriaIARC">Categoría IARC?</label>
        <select class="custom-select custom-select-lg mb-3" id="categoriaIARC" [(ngModel)]="riesgoQuimico.categoriaIARC"
          name="categoriaIARC">
          <option value="1" selected>1</option>
          <option value="2A">2A</option>
          <option value="2B">2B</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="N/A">N/A</option>
        </select>
      </div>
      valores (A1, A2, A3, A4, A5, N/A)
      <div class="form-group col-md-6">
        <label for="categoriaACGIH">Categoría ACGIH?</label>
        <select class="custom-select custom-select-lg mb-3" id="categoriaACGIH"
          [(ngModel)]="riesgoQuimico.categoriaACGIH" name="categoriaACGIH">
          <option value="A1" selected>A1</option>
          <option value="A2">A2</option>
          <option value="A3">A3</option>
          <option value="A4">A4</option>
          <option value="A5">A5</option>
          <option value="N/A">N/A</option>
        </select>
      </div>
    </div>

    <h6><small>NFPA</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nfpaS">Salud:</label>
        <select class="custom-select custom-select-lg mb-3" id="nfpaS" [(ngModel)]="riesgoQuimico.nfpaS" name="nfpaS">
          <option value="1" selected>1</option>
          <option value="3">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="nfpaI">Inflamabilidad::</label>
        <select class="custom-select custom-select-lg mb-3" id="nfpaI" [(ngModel)]="riesgoQuimico.nfpaI" name="nfpaI">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="nfpaR">Reactividad</label>
        <select class="custom-select custom-select-lg mb-3" id="nfpaR" [(ngModel)]="riesgoQuimico.nfpaR" name="nfpaR">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <!-- TO DO simbolos reactivos  -->
      <div class="form-group col-md-6">
        <label for="nfpaE">Especifico:</label>
        <select class="custom-select custom-select-lg mb-3" id="nfpaE" [(ngModel)]="riesgoQuimico.nfpaE" name="nfpaE">
          <option value="Reactivo con agua" selected>Reactivo con agua</option>
          <option value="oxidante(OX)">oxidante(OX)</option>
          <option value="asfixiante simple (AS)">asfixiante simple (AS)</option>
        </select>
      </div>
    </div>


    <h6><small>Sistema Globalmente Armonizado</small></h6>
    Físico:
    <div>
      <div class="form-check form-check-inline" *ngFor="let element of sgaFisico;let i = index;">
        <input class="form-check-input"  type="checkbox" id="sgaF{{element.id}}"  (click)="crearSgaFisico(element.id)">
        <label class="form-check-label" for="sgaF{{element.id}}">{{element.descripcion}}</label>
      </div>
    </div>
    <br>
    Ambiental:
    <div class="form-row">
      <div class="form-group col-md-6">
        <select class="custom-select custom-select-lg mb-3" id="ambiental" [(ngModel)]="riesgoQuimico.idSGAAmbientalFk.id" name="id">
          <option *ngFor="let sga of sgaAmbiental;let i = index;"  value="{{sga.id}}"> {{sga.descripcion}}</option>
        </select>
      </div>
    </div>

    Salud:
    <div>
      <div class="form-check form-check-inline" *ngFor="let element of sgaSalud;let i = index;">
        <input class="form-check-input"  type="checkbox" id="sgaS{{element.id}}"  (click)="crearSgaSalud(element.id)">
        <label class="form-check-label" for="sgaS{{element.id}}">{{element.descripcion}}</label>
      </div>
    </div>
    <br>


    <h6><small>Estabilidad y reactividad</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="reactividadTXT">Reactividad:</label>
        <textarea class="form-control" id="reactividadTXT" rows="3" [(ngModel)]="riesgoQuimico.reactividad" name="reactividad"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="estabilidadQuimica">Estabilidad química:</label>
        <textarea class="form-control" id="estabilidadQuimica" rows="3" [(ngModel)]="riesgoQuimico.estabilidadQuimica" name="estabilidadQuimica"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="reaccionesPeligrosas">Reacciones peligrosas:</label>
        <textarea class="form-control" id="reaccionesPeligrosas" rows="3" [(ngModel)]="riesgoQuimico.reaccionesPeligrosas" name="reaccionesPeligrosas"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="sustanciasIncopatibles">Sustancias incompatibles:</label>
        <textarea class="form-control" id="sustanciasIncopatibles" rows="3" [(ngModel)]="riesgoQuimico.sustanciasIncompatibles" name="sustanciasIncompatibles"></textarea>
      </div>
    </div>


    <h6><small>Límites permisibles de exposición ACGIH – OHSA</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="twa">TWA</label>
        <input type="text" class="form-control" id="twa" [(ngModel)]="riesgoQuimico.twa" name="twa">
      </div>
      <div class="form-group col-md-6">
        <label for="stel">STEL</label>
        <input type="text" class="form-control" id="stel" [(ngModel)]="riesgoQuimico.stell" name="stell">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tlv_c">TLV-C:</label>
        <input type="text" class="form-control" id="tlv_c" [(ngModel)]="riesgoQuimico.tlvC" name="tlvC">
      </div>
    </div>


    <h6><small>Identificación de peligros</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inhalacionPeligro">Inhalación:</label>
        <textarea class="form-control" id="inhalacionPeligro" rows="3" [(ngModel)]="riesgoQuimico.peligroInhalacion" name="peligroInhalacion"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="ingestionPeligro">Ingestión:</label>
        <textarea class="form-control" id="ingestionPeligro" rows="3" [(ngModel)]="riesgoQuimico.peligroIngestion" name="peligroIngestion"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="pielPeligro">Piel:</label>
        <textarea class="form-control" id="pielPeligro" rows="3" [(ngModel)]="riesgoQuimico.peligroPiel" name="peligroPiel"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="ojosPeligro">Ojos:</label>
        <textarea class="form-control" id="ojosPeligro" rows="3" [(ngModel)]="riesgoQuimico.peligroOjos" name="peligroOjos"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="efectosCronicos">Efectos crónicos:</label>
        <textarea class="form-control" id="efectosCronicos" rows="3" [(ngModel)]="riesgoQuimico.efectosCronicos" name="efectosCronicos"></textarea>
      </div>
    </div>


    <h6><small>Medidas preventivas > Elementos de protección personal</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mpRespiratoria">Respiratoria:</label>
        <textarea class="form-control" id="mpRespiratoria" rows="3" [(ngModel)]="riesgoQuimico.medidasRespiratorias" name="medidasRespiratorias"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="mpManos">Manos:</label>
        <textarea class="form-control" id="mpManos" rows="3" [(ngModel)]="riesgoQuimico.medidasManos" name="medidasManos"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mpOjos">Ojos:</label>
        <textarea class="form-control" id="mpOjos" rows="3" [(ngModel)]="riesgoQuimico.medidasOjos" name="medidasOjos"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="mpPiel">Piel:</label>
        <textarea class="form-control" id="mpPiel" rows="3" [(ngModel)]="riesgoQuimico.medidasPiel" name="medidasPiel"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mpHigiene">Medidas de higiene:</label>
        <textarea class="form-control" id="mpHigiene" rows="3" [(ngModel)]="riesgoQuimico.medidasHigiene" name="medidasHigiene"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="mpControlIngenieria">Controles de ingeniería</label>
        <textarea class="form-control" id="mpControlIngenieria" rows="3" [(ngModel)]="riesgoQuimico.medidasControlIng" name="medidasControlIng"></textarea>
      </div>
    </div>


    <h6><small>Medidas preventivas > Condiciones seguras de almacenamiento y manipulación</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="almacenamiento">Almacenamiento:</label>
        <textarea class="form-control" id="almacenamientos" rows="3" [(ngModel)]="riesgoQuimico.medidasAlmacenamiento" name="medidasAlmacenamiento"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="manipulacion">Manipulación:</label>
        <textarea class="form-control" id="manipulacion" rows="3" [(ngModel)]="riesgoQuimico.medidasManipulacion" name="medidasManipulacion"></textarea>
      </div>
    </div>


    <h6><small>Atención de emergencias > Primeros Auxilios</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prInhalacion">Inhalación:</label>
        <textarea class="form-control" id="almacenamientos" rows="3" [(ngModel)]="riesgoQuimico.prAuxInhalacion" name="prAuxInhalacion"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="prIngestion">Ingestión:</label>
        <textarea class="form-control" id="prIngestion" rows="3" [(ngModel)]="riesgoQuimico.prAuxIngestion" name="prAuxIngestion"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prContactoPiel">Contacto piel:</label>
        <textarea class="form-control" id="prContactoPiel" rows="3" [(ngModel)]="riesgoQuimico.prAuxPiel" name="prAuxPiel"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="prContactoOjos">Contacto ojos:</label>
        <textarea class="form-control" id="prContactoOjos" rows="3" [(ngModel)]="riesgoQuimico.prAuxOjos" name="prAuxOjos"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prOtrasMedidas">Otras Medidas:</label>
        <textarea class="form-control" id="prOtrasMedidas" rows="3" [(ngModel)]="riesgoQuimico.prAuxOtras" name="prAuxOtras"></textarea>
      </div>
    </div>


    <h6><small>Atención de emergencias > Medidas contra incendios</small></h6>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="aeIncendio">Peligros específicos incendio:</label>
        <textarea class="form-control" id="aeIncendio" rows="3" [(ngModel)]="riesgoQuimico.peligroEspIncendio" name="peligroEspIncendio"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="aeSalud">Peligros específicos para la salud:</label>
        <textarea class="form-control" id="prIngestion" rows="3" [(ngModel)]="riesgoQuimico.peligroEspSalud" name="peligroEspSalud"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="aeLuchaIncendio">Recomendaciones del personal de lucha contra incendio:</label>
        <textarea class="form-control" id="aeLuchaIncendio" rows="3" [(ngModel)]="riesgoQuimico.recomendacionIncendio" name="recomendacionIncendio"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="aeAgenteExtindor">Agente extintor:</label>
        <textarea class="form-control" id="prContactoOjos" rows="3" [(ngModel)]="riesgoQuimico.agenteExtintor" name="agenteExtintor"></textarea>
      </div>
    </div>

    <h6><small>Atención de emergencias > Control de derrames o fugas</small></h6>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="aeDerrames">Precauciones personales, equipo de protección y medio ambiente:</label>
        <textarea class="form-control" id="aeDerrames" rows="5" [(ngModel)]="riesgoQuimico.ctrolProctecFuga" name="ctrolProctecFuga"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="aeContencion">Métodos y material de contención y limpieza:</label>
        <textarea class="form-control" id="aeContencion" rows="5" [(ngModel)]="riesgoQuimico.ctrolLimpieza" name="ctrolLimpieza"></textarea>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fichaSeguridadFisica">Cuenta con ficha de seguridad fisica?</label>
        <select class="custom-select custom-select-lg" id="fichaSeguridadFisica" [(ngModel)]="riesgoQuimico.fichaSeguridad" name="fichaSeguridad">
          <option value="SI" selected>SI</option>
          <option value="NO">NO</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="tarjetaEmergenciaFisica">Cuenta con tarjeta de emergencia fisica?</label>
        <select class="custom-select custom-select-lg" id="tarjetaEmergenciaFisica" [(ngModel)]="riesgoQuimico.tarjetaEmergencia" name="tarjetaEmergencia">
          <option value="SI" selected>SI</option>
          <option value="NO">NO</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="palabrasAdvertencia">Palabras de advertencia</label>
        <input type="text" class="form-control" id="palabrasAdvertencia" [(ngModel)]="riesgoQuimico.palabraEmergencia" name="palabraEmergencia">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fraseH1">Frase H 1</label>
        <select class="custom-select custom-select-lg" id="fraseH1">
          <option selected>Si</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="fraseH2">Frase H 2s</label>
        <select class="custom-select custom-select-lg" id="fraseH2">
          <option selected>Si</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fraseP1">Frase P 1</label>
        <select class="custom-select custom-select-lg" id="fraseP1">
          <option selected>Si</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="fraseP2">Frase P 2s</label>
        <select class="custom-select custom-select-lg" id="fraseP">
          <option selected>Si</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="imagen">Imagen con el código QR asociado</label>
        <input type="file" class="form-control-file" id="imagen" [(ngModel)]="riesgoQuimico.imagen" name="imagen">
      </div>
    </div>



    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </div>
  </form>
  <br><br><br><br>
</div>